    html,
    body,
    .grid-container {
        display: grid;
        height: 100%;
        margin: 0;
        justify-items: center;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content 1fr;
        gap: 0px 0px;
        grid-template-areas: "local" "favourite";
        justify-items: stretch;
    }
    
    .local {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content 1fr;
        gap: 0px 0px;
        grid-template-areas: "local-header" "local-cards";
        grid-area: local;
        max-width: 800px;
        justify-items: stretch;
    }
    
    .local-header {
        grid-area: local-header;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
        height: 40px;
    }
    
    .local-cards {
        grid-area: local-cards;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 60px;
        align-items: start;
    }
    
    .favourite {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content 1fr;
        gap: 0px 0px;
        grid-template-areas: "favourite-header" "favourite-cards";
        grid-area: favourite;
        max-width: 800px;
    }
    
    .favourite-header {
        grid-area: favourite-header;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .favourite-cards {
        grid-area: favourite-cards;
    }
    
    .local-card-header {
        width: 320px;
    }
    
    .local-card-header>h2 {
        font-weight: bold;
        font-size: 40px;
        width: 100%;
    }
    
    .local-card-header-content {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    
    .local-card-header-content>p {
        flex: 1;
        font-size: 80px;
        text-align: center;
    }
    
    .card-param-list {
        width: 320px;
        padding-left: 0px;
    }
    
    .card-param {
        display: flex;
        min-height: 30px;
        margin-top: 10px;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        background-color: #e0e0e0;
    }
    
    .card-param>h4 {
        margin-left: 10px;
        font-weight: bold;
    }
    
    .card-param>p {
        margin-right: 10px;
        margin-left: 10px;
    }
    
    .favourite-cards>ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 60px;
        align-items: start;
    }
    
    .weather-card {
        width: 320px;
        float: left;
        margin-top: 20px;
    }
    
    .card-header {
        display: flex;
        height: 40px;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;
    }
    
    .card-header>h3 {
        flex: 1;
        font-size: 25px;
    }
    
    .card-header>p {
        padding-right: 5px;
        font-size: 30px;
    }
    
    .image {
        max-height: 100%;
        max-width: none;
        padding-left: 5px;
    }
    
    .close-btn-space {
        flex: 1;
        height: 100%;
    }
    
    .close-btn {
        height: 100%;
        float: right;
    }
    
    .search-area {
        display: flex;
        justify-content: end;
        flex-wrap: nowrap;
        align-items: center;
        height: 40px;
        width: 320px;
    }
    
    .search-btn {
        height: 100%;
        float: right;
        margin-left: 10px;
    }
    
    .favourite-header>h1 {
        width: 320px;
        font-size: 35px;
    }
    
    .local-header>h1 {
        flex: 0;
        white-space: nowrap;
        font-size: 35px;
    }
    
    .local-header>div {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .mobile {
        display: none;
    }
    
    @media (max-width: 720px) {
        .local-cards {
            grid-template-columns: repeat(1, 1fr);
        }
        .favourite-cards>ul {
            grid-template-columns: repeat(1, 1fr);
        }
        .favourite-header {
            flex-direction: column;
            align-items: start;
        }
        .desktop {
            display: none;
        }
        .mobile {
            display: block;
        }
    }
    
    @media (max-device-width: 720) {
        .local-cards {
            grid-template-columns: repeat(1, 1fr);
        }
        .favourite-cards>ul {
            grid-template-columns: repeat(1, 1fr);
        }
        .favourite-header {
            flex-direction: column;
            align-items: start;
        }
        .desktop {
            display: none;
        }
        .mobile {
            display: block;
        }
    }